<div>
  <span>POI:</span>
  <span class='string'>
    {{poi}}
  </span>
</div>
<div>
  <span>Product:</span>
  <span class='string'>
    {{product}}
  </span>
</div>
<div>
  <span>Downloaded:</span>
  <span class='string'>
    {{downloaded}} GB
  </span>
</div>
<div>
  <span>Uploaded:</span>
  <span class='string'>
    {{uploaded}} GB
  </span>
</div>

<div>
  {{#if nolimit}}
  <span>Daily usage:</span>
  <span class='string'>
    {{averageUsage}} GB
  </span>
  {{else}}
  <span>Daily usage / limit:</span>
  <span class='string'>
    {{averageUsage}} / {{averageLeft}} GB
  </span>
  {{/if}}
</div>
<div>
  {{#if nolimit}}
  <span>Plan:</span>
  <span class='string'>
    {{#unlimited}}Unlimited{{/unlimited}}
  </span>
  {{else}}
  <span>Total Left:</span>
  <span class='string'>
    {{limitRemaining}} / {{limit}} GB
  </span>
  <progress max="100" value="{{percentRemaining}}"></progress>
  {{/if}}
</div>
<div>
  <span>Rollover:</span>
  <span class='string'>
    {{daysRemaining}} day/s
  </span>
  <progress max="30" value="{{daysRemaining}}"></progress>
</div>
<div>
  <span>Server updated:</span>
  <span class='string'>
    {{lastUpdated}}
  </span>
</div>