<p>
  <span>Downloaded:</span>
  <span class='string'>
    {{downloaded}} GB
  </span>
</p>
<p>
  <span>Uploaded:</span>
  <span class='string'>
    {{uploaded}} GB
  </span>
</p>
<p>
  {{#if nolimit}}
  <span>Plan:</span>
  <span class='string'>
    {{#corp}}Corporate{{/corp}} {{#unlimited}}Unlimited{{/unlimited}}
  </span>
  {{else}}
  <span>Total Left:</span>
  <span class='string'>
    {{limitRemaining}} / {{limit}} GB
  </span>
  {{/if}}
</p>
<p>
  {{#if nolimit}}
  <span>Daily usage:</span>
  <span class='string'>
    {{averageUsage}} GB
  </span>
  {{else}}
  <span>Daily usage / limit:</span>
  <span class='string'>
    {{averageUsage}} / {{averageLeft}} GB
  </span>
  {{/if}}
</p>
<p>
  <span>Month ending:</span>
  <span class='string'>
    {{formatRelative endOfPeriod}}
  </span>
</p>
<p>
  <span>Updated:</span>
  <span class='string'>
    {{formatRelative lastUpdated}}
  </span>
</p>