<p>
  <span>Download:</span>
  <span class='string'>
    {{downloaded}} GB
  </span>
</p>
<p>
  <span>Upload:</span>
  <span class='string'>
    {{uploaded}} GB
  </span>
</p>
<p>
  {{#unlimited}}
  <span>Plan:</span>
  <span class='string'>
    Unlimited
  </span>
  {{/unlimited}} {{^unlimited}}
  <span>Total Left:</span>
  <span class='string'>
    {{limitRemaining}} / {{limit}} GB
  </span>
  {{/unlimited}}
</p>
<p>
  {{#unlimited}}
  <span>Daily usage:</span>
  <span class='string'>
    {{averageUsage}} GB
  </span>
  {{/unlimited}} {{^unlimited}}
  <span>Daily usage / limit:</span>
  <span class='string'>
    {{averageUsage}} / {{averageLeft}} GB
  </span>
  {{/unlimited}}
</p>
<p>
  <span>Days in month remaining:</span>
  <span class='string'>
    {{daysRemaining}} day/s
  </span>
</p>
<p>
  <span>Updated:</span>
  <span class='string'>
    {{lastUpdated}}
  </span>
</p>
